.menu-section {
  width: 68rem;
  height: 50rem;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 2rem;
  padding: 2.4rem 2rem;

  /* animation-name: fadeIn;
  animation-duration: 0.8s; */
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-section ul {
  /* background-color: red; */
  list-style: none;
}
