.menu-section {
  width: 68rem;
  height: 50rem;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 2rem;
  padding: 2.4rem 2rem;
}

.menu-section ul {
  /* background-color: red; */
  list-style: none;
}
